@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Code Pro",monospace;
}

body {
  margin: 0px;
}

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: #1a1a1a;
  color: white;
}

section .slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

section .slideshow img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

section .openxrayLogo {
  position: absolute;
  right: 4vw;
  bottom: 0vw;
  width: 20vw;
}

section .blob {
  position: fixed;
  right: -50vw;
  top: -25vw;
  width: 120vw;
  height: 120vw;
  -webkit-animation: move 20s ease-in-out infinite;
          animation: move 20s ease-in-out infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  z-index: 1;
  fill: #e44444;
  pointer-events: none;
}

section .rightMax {
  position: relative;
  max-width: 800px;
  margin: 0px 0px 0px auto;
  padding: 100px 80px;
  z-index: 10;
}

section .rightMax h1 {
  text-align: right;
  font-size: 34px;
  z-index: 10;
}

section .rightMax p {
  font-size: 18px;
  z-index: 8;
}

section .rightMax a {
  font-size: 18px;
  color: white;
  z-index: 8;
}

.topbar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.topbar:hover a p {
  opacity: 1;
}

.topbar a {
  display: block;
  width: 100%;
  height: 30px;
  margin: 10px;
  position: relative;
}

.topbar a svg {
  height: 30px;
  width: 30px;
  display: inline;
  fill: white;
}

.topbar a p {
  display: inline;
  position: absolute;
  left: 50px;
  top: -10px;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.topbar a p:hover {
  font-weight: 900;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1, 1) rotate(20deg);
            transform: scale(1, 1) rotate(20deg);
  }
  40% {
    -webkit-transform: scale(1.3, 1) rotate(80deg);
            transform: scale(1.3, 1) rotate(80deg);
  }
  60% {
    -webkit-transform: scale(1.2) rotate(-40deg);
            transform: scale(1.2) rotate(-40deg);
  }
  80% {
    -webkit-transform: scale(1.4) rotate(40deg);
            transform: scale(1.4) rotate(40deg);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1, 1) rotate(20deg);
            transform: scale(1, 1) rotate(20deg);
  }
  40% {
    -webkit-transform: scale(1.3, 1) rotate(80deg);
            transform: scale(1.3, 1) rotate(80deg);
  }
  60% {
    -webkit-transform: scale(1.2) rotate(-40deg);
            transform: scale(1.2) rotate(-40deg);
  }
  80% {
    -webkit-transform: scale(1.4) rotate(40deg);
            transform: scale(1.4) rotate(40deg);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */